.btn-red{
    -fx-background-color:rgb(255,50,50);
    -fx-background-radius:5px;
    -fx-border-width:1;
    -fx-border-style:solid;
    -fx-border-radius:5px;
    -fx-border-color:rgb(200,50,50);
    -fx-text-fill:white
}

.btn-green{
    -fx-background-color:rgb(25,185,155);
    -fx-background-radius:5px;
    -fx-border-width:1;
    -fx-border-style:solid;
    -fx-border-radius:5px;
    -fx-border-color:rgb(5,165,135);
    -fx-text-fill:white
}

.btn-silver{
    -fx-background-color:rgb(170,170,170);
    -fx-background-radius:5px;
    -fx-border-width:1;
    -fx-border-style:solid;
    -fx-border-radius:5px;
    -fx-border-color:rgb(150,150,150);
    -fx-text-fill:white
}




.table-view{
    -fx-background-color:rgb(25,185,155);
}

.table-view .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: 0;
}

.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: transparent;
}

.table-row-cell:selected .btn-green{
    -fx-background-color:rgba(0,0,0,0.2);
}

.right-pill, .left-pill {
    -fx-base:rgb(25,185,155);
    -fx-text-fill:white
}

.text-field{
    -fx-min-height:30px;
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-effect: innershadow( three-pass-box , rgba(50,50,50,0.5) , 5, 0 , 0 , 0 );
}

.text-field-disabled, .text-field-disabled:focused:selected{
    -fx-min-height:30px;
    -fx-background-color: rgb(245,245,245);
    -fx-background-radius: 5px;
    -fx-effect: innershadow( three-pass-box , rgba(50,50,50,0.5) , 5, 0 , 0 , 0 );
}


.text-field:focused{
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-effect: innershadow( three-pass-box , rgb(25,185,155) , 5, 0 , 0 , 0 );
}
